body {
  padding-top: 5rem;
}

.textarea {
  width: 300px;
  border: 1px solid #737f89;
  border-radius: 5px;
  border: 1px solid black;
}

.mtextarea {
  width: 300px;
  height: 100px;
  border: 1px solid #737f89;
  border-radius: 5px;
  margin-bottom: 10px;
  border: 1px solid black;
}

.section h4 {
  font-size: 20px;
  margin: 5px;
}

.uploadpic {
  margin-bottom: 10px;
}

button {
  color: white;
  background-color: #00ff83;
  border: 1px solid #00ff83;
  border-radius: 5px;
  margin-top: 20px;
  padding: 3px;
}

select {
  width: 300px;
  border: 1px solid black;
  border-radius: 5px;
}

.profiles {
  width: 600px;
  border: 1px solid black;
  border-radius: 20px;
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.left {
  display: flex;
}

.pinfo {
  line-height: 4px;
  margin-top: 20px;
  font-family: "Poppins", sans-serif;
}

.pbtn {
  background-color: #44c767;
  border-radius: 7px;
  cursor: pointer;
  color: #ffffff;
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  padding: 9px 35px;
  height: 40px;
  margin-top: 45px;
}

.left img {
  text-align: center;
  height: 100px;
  width: 100px;
  border-radius: 100px;
  margin: 20px 10px;
  background-size: cover;
}
